// media queries made easy
$small: "only screen and (max-width: 576px)";
$medium: "only screen and (max-width: 768px)";
$large: "only screen and (max-width: 1024px)";
$xlarge: "only screen and (max-width: 1250px)";
$hd: "only screen and (max-width: 1920px)";
