@import "variables";

// Footer Styling
.footer {
  background-color: $color1;

  .footer--inner {
    color: white;
    padding: 1rem;

    p {
      font-size: 0.6rem;
      margin-bottom: 0;
      text-align: center;
    }

    a {
      color: white;
      font-size: 0.6rem;
    }
  }
}
